<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${artworks.title}"></title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"></meta>
	<link href="/css/bootstrap.min.css" rel="stylesheet"></link>
	<link href="/css/roboto.min.css" rel="stylesheet"></link>
	<link href="/css/material.min.css" rel="stylesheet"></link>
	<link href="/css/ripples.min.css" rel="stylesheet"></link>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="navbar navbar-default">
				<div class="navbar-header">
				</div>
				<div class="navbar-collapse collapse navbar-responsive-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/artist">Artists</a></li>
						<li  class="active"><a href="/artwork">Artwork</a></li>
						<li  th:if="${username == 'none'}"><a href="/login" >Login</a></li>
						<li th:if="${username != 'none'}"> <a href="/logout">Logout</a></li>
					</ul>
				</div>
			</div>
            
			<div class="col-lg-4">
			</div>

			<div class="col-lg-4">
		 		<img th:src="${artworks.thumbnailUrl}"  alt="Sponsored by SpringSource" />
				<h1 th:text="${artworks.title}">gender</h1>

		
		<br/>
		
		<h3>Contributors</h3>
                <table class="table table-striped table-hover ">
  		  		    <thead>
                        <tr>
                            <th>Artist Name</th>
                        </tr>
    			     </thead>
                    <tbody>
                        <tr th:each="contributor: ${artworks.contributors}">
                            <td><a th:href="@{|/artist/${contributor.artist_id}|}" th:text="${contributor.name}">fullName</a></td>
                         </tr>
                    </tbody>
                </table>
 
                <br />
               		<h3>Movement</h3>
                <table class="table table-striped table-hover ">
  		  		    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
    			     </thead>
                    <tbody>
                        <tr th:each="movement: ${artworks.movements}">
                            <td th:if="${movement.name} != null" th:text="${movement.name}"></td>
                         </tr>
                    </tbody>
                </table>
 
    
                <h2>Comments</h2>
    
			     <div th:each="comments: ${comments}">
			         <div class="panel panel-success">
    			         <div class="panel-heading">
        			         <h3 class="panel-title"  th:text="${comments.username}" >Panel success</h3>
        			         <h3 class="panel-title" style="float: right;margin-top: -16px;" th:text="${comments.time}" >Panel success</h3>
    			         </div>
    			         <div class="panel-body" th:text="${comments.content}">
     			            Panel content
    			         </div>
			         </div>
			     </div>
			     
                <div  th:if="${username != 'none'}">
				    <form  th:action="@{'/artwork/' + ${artworks.id}}"  action="#" th:object="${comment}"  method="post">
                        <input type="hidden" class="form-control" th:value="${username}" name="username" id="username" />
		                <p>Comment: 
                        <input type="text"  required="required"  class="form-control" th:value="${content}" name="content" id="content" />                           </p>
		                <p>
                            <input type="submit"  class="btn btn-danger" value="Submit" /> 
                            <input  class="btn btn-info" type="reset" value="Reset" />
                        </p>
		    	     </form>
		          </div> 
		          
		          <div  th:if="${username == 'none'}">
					
					  <div class="panel panel-success">
    			         <div class="panel-heading">
    			         <h3 class="panel-title">Please Login</h3>
    			         </div>
    			         <div class="panel-body">
     			          <a href="/login" class="btn btn-danger" >Login</a>
    			         </div>
			         </div>
			
		          </div>
            </div>
			<div class="col-lg-4">
			</div>
		</div>
	</div>
	<!-- /#wrapper -->
	<script src="/js/jquery-1.10.2.min.js"></script> 
	<script src="/js/bootstrap.min.js"></script> 
	<script src="/js/ripples.min.js"></script> 
	<script src="/js/material.min.js"></script> 
	<script>
	   $(document).ready(function() {
		   // This command is used to initialize some elements and make them work properly
		   $.material.init();
	   });
	</script> <!-- Menu Toggle Script -->
	 
	
</body>
</html>