<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    
	<title th:text="${artist.fullName}"></title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"></meta>
	<link href="/css/bootstrap.min.css" rel="stylesheet"></link>
	<link href="/css/roboto.min.css" rel="stylesheet"></link>
	<link href="/css/material.min.css" rel="stylesheet"></link>
	<link href="/css/ripples.min.css" rel="stylesheet"></link>

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="navbar navbar-default">
				<div class="navbar-header">
				</div>
				<div class="navbar-collapse collapse navbar-responsive-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/artist">Artists</a></li>
						<li><a href="/artwork">Artwork</a></li>
						<li  th:if="${username == 'none'}"><a href="/login" >Login</a></li>
						<li th:if="${username != 'none'}"> <a href="/logout">Logout</a></li>
				
					</ul>
				</div>
			</div>

			<div class="col-lg-2">					
			</div>
            
			<div class="col-lg-8">
			     <h1 th:text="${artist.fullName}">Message Text</h1>
				 <div th:if="${artist.birth != null}">
              			<h3 th:text="${artist.birth.place.name}"> text </h3>
                </div>

				<span class="label label-danger" th:text="${artist.gender}">Danger</span>
                 <br />
               		<h3>Movement</h3>
                <table class="table table-striped table-hover ">
  		  		    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
    			     </thead>
                    <tbody>
                        <tr th:each="movement: ${artist.movements}">
                            <td th:if="${movement.name} != null" th:text="${movement.name}"></td>
                         </tr>
                    </tbody>
                </table>
				
				<div style="margin-bottom:20px"> 
				
				</div>
				

    			<div th:each="arts : ${artist.artworks}">
		 			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
                		<a th:href="@{|/artwork/${arts.id}|}" class="thumbnail" >  
                			<img th:src="${arts.thumbnailUrl}"  class="img-responsive" alt="Sponsored by SpringSource" />
						</a>
            		</div>
				</div>
				
				
				
				
			</div>
            
			<div class="col-lg-2">
			
			</div>
		</div>
	</div>
	<!-- /#wrapper -->
	<script src="/js/jquery-1.10.2.min.js"></script> 
	<script src="/js/bootstrap.min.js"></script> 
	<script src="/js/ripples.min.js"></script> 
	<script src="/js/material.min.js"></script> 
	<script>
	   $(document).ready(function() {
		   // This command is used to initialize some elements and make them work properly
		   $.material.init();
	   });
	</script> <!-- Menu Toggle Script -->
	 
	
</body>
</html>